# Dependencies
**/node_modules/
**/bin/
**/obj/

# Git
.git/
.gitignore

# IDE & OS
.vscode/
.idea/
.vs/
*.suo
*.user
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Build output
dist/
build/
out/

# Environment variables
.env*

# Tests
**/tests/
**/test/
